name: Code standards check

# Triggers the workflow on pull request events but only for the master branch
on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      logLevel:
        default: warning
        description: "Log level"
        required: true
      tags:
        description: "Linter"
        required: false

concurrency:
  # older builds for the same pull request number or branch should be cancelled
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DOTNET_VERSION: 6.0
  DOTNET_LEGACY_VERSION: 4.7.1

jobs:
  run-linter:
    name: Run linter
    runs-on: windows-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
      - name: Set up .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.0.x"
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v43
      - name: Run linters
        uses: wearerequired/lint-action@v2
        env: 
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        with:
          dotnet_format_args: "--include ${{ALL_CHANGED_FILES}}"
          dotnet_format: true
          continue_on_error: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_name: ${linter} run